body {
  color: white;
  background-color: #e5e6e7;
  /* loading an asset in `src` referenced by `url`
      when processed, the right hash is assigned.
  */
  background-image: url(large43149a.png);
}
